results
.snakemake
*o
*~
config.log
config.status
config.h
*hg*
.libs*
Makefile
generate.sh
.dirstamp
temp_config.h
*pc
*autom4te*
*.out
stamp-h1
*tar.gz
libtool
examples/*txt
examples/*log
examples/.pversion
node_modules
package*json
