#format is: program_handle path_to_program snp_major?

begin snptest
executable /home/cpalmer/Development/stage/bin/snptest
snp_major 1
parameter gen-prefix "Prefix of SNPTEST gen per-draw files to be written"
parameter gen-suffix "Suffix of SNPTEST gen per-draw files to be written"
parameter sample-prefix "Prefix of SNPTEST sample per-draw files to be written"
parameter sample-suffix "Suffix of SNPTEST sample per-draw files to be written"
parameter pheno "Name of phenotype in SNPTEST sample filename to be analyzed"
parameter covar "Comma-delimited list of covariates for SNPTEST sample file"
parameter frequentist "Which SNPTEST frequentist mode should be employed"
parameter method "Which uncertainty handling method will be used"
parameter output-prefix "Prefix for SNPTEST per-draw result files"
parameter output-suffix "Suffix for SNPTEST per-draw result files"
flag autocorrect-traits "Scan and calculate SNPTEST sample code for all traits"
end

#plink /path/to/plink yes
#mach2qtl /path/to/mach2qtl FALSE

