begin snptest
executable /home/cpalmer/Development/stage/bin/snptest
snp_major 1
parameter gen-prefix "Prefix of SNPTEST gen per-draw files to be written"
parameter gen-suffix "Suffix of SNPTEST gen per-draw files to be written"
parameter sample-prefix "Prefix of SNPTEST sample per-draw files to be written"
parameter sample-suffix "Suffix of SNPTEST sample per-draw files to be written"
parameter pheno "Name of phenotype in SNPTEST sample filename to be analyzed"
parameter covar "Comma-delimited list of covariates for SNPTEST sample file"
parameter frequentist "Which SNPTEST frequentist mode should be employed"
parameter method "Which uncertainty handling method will be used"
parameter output-prefix "Prefix for SNPTEST per-draw result files"
parameter output-suffix "Suffix for SNPTEST per-draw result files"
flag autocorrect-traits "Scan and calculate SNPTEST sample code for all traits"
end

begin plink
executable /home/cpalmer/Downloads/Alopecia/plink-1.07-src/plink
snp_major TRUE
parameter bfile-prefix "Prefix of PLINK {bed, bim, fam} per-draw files to be written"
parameter bfile-suffix "Suffix of PLINK {bed, bim, fam} per-draw files to be written"
parameter pheno-prefix "Prefix of PLINK-format per-draw phenotype file to be written"
parameter pheno-suffix "Suffix of PLINK-format per-draw phenotype file to be written"
parameter pheno-name "Name of phenotype to be analyzed"
parameter covar-names "Comma-delimited list of covariates to be analyzed"
flag linear "Whether the trait should be analyzed with linear regression"
flag logistic "Whether the trait should be analyzed with logistic regression"
parameter vif "Variance inflation factor threshold for PLINK analysis"
parameter out-prefix "Prefix for PLINK per-draw result files"
parameter out-suffix "Suffix for PLINK per-draw result files"
end

begin emmaxkin
executable /home/cpalmer/Development/stage/bin/emmax-kin
snp_major TRUE
parameter tfile-prefix "Prefix of PLINK {tped, tfam} per-draw files to be written"
parameter tfile-suffix "Suffix of PLINK {tped, tfam} per-draw files to be written"
parameter emmax-pheno-name "Name of phenotype to be analyzed"
parameter emmax-covar-names "Comma-delimited list of covariates to be analyzed"
flag ibs "Whether to create IBS kinship matrix"
flag bn "Whether to create BN kinship matrix"
end

#begin emmax
#executable /home/cpalmer/Development/stage/bin/emmax
#snp_major 1
#use_existing
#end

#mach2qtl /path/to/mach2qtl FALSE

